= semantic_form_for @tool do |f|
  = f.inputs do
    = f.input :name
    = f.input :code, input_html: {"ace-editor" => "", "ace-theme" => 'github', 'ace-mode' => 'python'}
  = f.actions do
    = f.action :submit
    = f.action :cancel