%h1
  = @tool.name
  =link_to 'edit', edit_tool_path(@tool), class: 'btn'

%textarea#tool_code(ace-editor="" ace-theme="github" ace-mode="python" style="height:200px")
  = @tool.code

%h2 Inputs
= form_tag tool_execute_path(@tool), method: :post do
  - @tool.inputs.each do |input|
    = label_tag input
    = text_field_tag "inputs[#{input}]"

  %br
  =submit_tag 'execute', class: 'btn'


- if params["result"]
  %h2 Result
  %pre
    = params["result"]